<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="residentialArea">
	<f:translate key="tx_dlrealestate_domain_model_realestate.residential_area" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="residentialArea" /><br />
<label for="rentFrom">
	<f:translate key="tx_dlrealestate_domain_model_realestate.rent_from" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="rentFrom" /><br />
<label for="rentTo">
	<f:translate key="tx_dlrealestate_domain_model_realestate.rent_to" />
</label><br />
	<f:form.textfield property="rentTo" /><br />
<label for="noOfRooms">
	<f:translate key="tx_dlrealestate_domain_model_realestate.no_of_rooms" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="noOfRooms" /><br />
<label for="rent">
	<f:translate key="tx_dlrealestate_domain_model_realestate.rent" />
</label><br />
	<f:form.textfield property="rent" /><br />
<label for="furnitured">
	<f:translate key="tx_dlrealestate_domain_model_realestate.furnitured" />
</label><br />
	<f:form.checkbox property="furnitured" value="1" /><br />
<label for="handicapAdapted">
	<f:translate key="tx_dlrealestate_domain_model_realestate.handicap_adapted" />
</label><br />
	<f:form.checkbox property="handicapAdapted" value="1" /><br />
<label for="elevator">
	<f:translate key="tx_dlrealestate_domain_model_realestate.elevator" />
</label><br />
	<f:form.checkbox property="elevator" value="1" /><br />
<label for="animalsAllowed">
	<f:translate key="tx_dlrealestate_domain_model_realestate.animals_allowed" />
</label><br />
	<f:form.checkbox property="animalsAllowed" value="1" /><br />
<label for="other">
	<f:translate key="tx_dlrealestate_domain_model_realestate.other" />
</label><br />
	<f:form.textfield property="other" /><br />
<label for="uploadImages1">
	<f:translate key="tx_dlrealestate_domain_model_realestate.upload_images1" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="uploadImages2">
	<f:translate key="tx_dlrealestate_domain_model_realestate.upload_images2" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="uploadImages3">
	<f:translate key="tx_dlrealestate_domain_model_realestate.upload_images3" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="uploadImages4">
	<f:translate key="tx_dlrealestate_domain_model_realestate.upload_images4" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="uploadImages5">
	<f:translate key="tx_dlrealestate_domain_model_realestate.upload_images5" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="name">
	<f:translate key="tx_dlrealestate_domain_model_realestate.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="description">
	<f:translate key="tx_dlrealestate_domain_model_realestate.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
</html>