<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<div class="form-group">
		<label for="residentialArea" class="control-label">
			<f:translate key="tx_dlrealestate_domain_model_realestate.residential_area" /> <span class="required">*</span>
		</label>
		<div class="input">
			<f:form.textfield property="residentialArea" class="form-control" />
		</div>
	</div>
	<div class="form-group">
		<label for="rentFrom" class="control-label">
			<f:translate key="tx_dlrealestate_domain_model_realestate.rent_from" /> <span class="required">*</span>
		</label>
		<div class="input">
			<f:form.textfield property="rentFrom" />
		</div>
	</div>
	<div class="form-group">
		<label for="rentTo" class="control-label">
			<f:translate key="tx_dlrealestate_domain_model_realestate.rent_to" />
		</label>
		<div class="input">
			<f:form.textfield property="rentTo" />
		</div>
	</div>
	<div class="form-group">
		<label for="noOfRooms" class="control-label">
			<f:translate key="tx_dlrealestate_domain_model_realestate.no_of_rooms" /> <span class="required">*</span>
		</label>
		<div class="input">
			<f:form.textfield property="noOfRooms" />
		</div>
	</div>
	<div class="form-group">
		<label for="rent" class="control-label">
			<f:translate key="tx_dlrealestate_domain_model_realestate.rent" />
		</label>
		<div class="input">
			<f:form.textfield property="rent" />
		</div>
	</div>
	<div class="form-group">
		<label for="furnitured" class="control-label">
			<f:translate key="tx_dlrealestate_domain_model_realestate.furnitured" />
		</label>
		<div class="input">
			<f:form.checkbox property="furnitured" value="1" />
		</div>
	</div>
	<div class="form-group">
		<label for="handicapAdapted" class="control-label">
			<f:translate key="tx_dlrealestate_domain_model_realestate.handicap_adapted" />
		</label>
		<div class="input">
			<f:form.checkbox property="handicapAdapted" value="1" />
		</div>
	</div>
	<div class="form-group">
		<label for="elevator" class="control-label">
			<f:translate key="tx_dlrealestate_domain_model_realestate.elevator" />
		</label>
		<div class="input">
			<f:form.checkbox property="elevator" value="1" />
		</div>
	</div>
	<div class="form-group">
		<label for="animalsAllowed" class="control-label">
			<f:translate key="tx_dlrealestate_domain_model_realestate.animals_allowed" />
		</label>
		<div class="input">
			<f:form.checkbox property="animalsAllowed" value="1" />
		</div>
	</div>
	<div class="form-group">
		<label for="other" class="control-label">
			<f:translate key="tx_dlrealestate_domain_model_realestate.other" />
		</label>
		<div class="input">
			<f:form.textfield property="other" />
		</div>
	</div>
	<div class="form-group">
		<label for="uploadImages1" class="control-label">
			<f:translate key="tx_dlrealestate_domain_model_realestate.upload_images1" />
		</label>
		<div class="input">
			<span>File upload is not implemented!</span>
		</div>
	</div>
	<div class="form-group">
		<label for="uploadImages2" class="control-label">
			<f:translate key="tx_dlrealestate_domain_model_realestate.upload_images2" />
		</label>
		<div class="input">
			<span>File upload is not implemented!</span>
		</div>
	</div>
	<div class="form-group">
		<label for="uploadImages3" class="control-label">
			<f:translate key="tx_dlrealestate_domain_model_realestate.upload_images3" />
		</label>
		<div class="input">
			<span>File upload is not implemented!</span>
		</div>
	</div>
	<div class="form-group">
		<label for="uploadImages4" class="control-label">
			<f:translate key="tx_dlrealestate_domain_model_realestate.upload_images4" />
		</label>
		<div class="input">
			<span>File upload is not implemented!</span>
		</div>
	</div>
	<div class="form-group">
		<label for="uploadImages5" class="control-label">
			<f:translate key="tx_dlrealestate_domain_model_realestate.upload_images5" />
		</label>
		<div class="input">
			<span>File upload is not implemented!</span>
		</div>
	</div>
</html>