<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-dl-realestate" >
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.residential_area" />
		</td>
		<td>
		{realestate.residentialArea}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.rent_from" />
		</td>
		<td>
		{realestate.rentFrom}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.rent_to" />
		</td>
		<td>
		{realestate.rentTo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.no_of_rooms" />
		</td>
		<td>
		{realestate.noOfRooms}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.rent" />
		</td>
		<td>
		{realestate.rent}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.furnitured" />
		</td>
		<td>
		{realestate.furnitured}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.handicap_adapted" />
		</td>
		<td>
		{realestate.handicapAdapted}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.elevator" />
		</td>
		<td>
		{realestate.elevator}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.animals_allowed" />
		</td>
		<td>
		{realestate.animalsAllowed}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.other" />
		</td>
		<td>
		{realestate.other}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.upload_images1" />
		</td>
		<td>
				<f:image src="{realestate.uploadImages1.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.upload_images2" />
		</td>
		<td>
				<f:image src="{realestate.uploadImages2.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.upload_images3" />
		</td>
		<td>
				<f:image src="{realestate.uploadImages3.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.upload_images4" />
		</td>
		<td>
				<f:image src="{realestate.uploadImages4.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.upload_images5" />
		</td>
		<td>
				<f:image src="{realestate.uploadImages5.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>
</html>