<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<f:flashMessages />
<h4>Dina aktuella personuppgifter</h4>
<div class="feuser">
	<div class="info-box">
		<div class="col-md-2 type">Förnamn</div><div class="col-md-3 info">{frontendUser.firstName}</div>
	</div>
	<div class="info-box">	
		<div class="col-md-2 type">Efternamn</div><div class="col-md-3 info">{frontendUser.lastName}</div>
	</div>
	<div class="info-box">	
		<div class="col-md-2 type">Företag</div><div class="col-md-3 info">{frontendUser.company}</div>
	</div>
	<div class="info-box">	
		<div class="col-md-2 type">Gatuadress</div><div class="col-md-3 info">{frontendUser.address}</div>
	</div>
	<div class="info-box">	
		<div class="col-md-2 type">Postnr</div><div class="col-md-3 info">{frontendUser.zip}</div>	
	</div>
	<div class="info-box">	
		<div class="col-md-2 type">Stad</div><div class="col-md-3 info">{frontendUser.city}</div>
	</div>
	<div class="info-box">	
		<div class="col-md-2 type">Telefon</div><div class="col-md-3 info">{frontendUser.telephone}</div>	
	</div>
	<div class="info-box">	
		<div class="col-md-2 type">E-post</div><div class="col-md-3 info">{frontendUser.email}</div>
	</div>
	<div class="info-box">	
		<div class="col-md-2 type">Personnummer</div><div class="col-md-3 info">{frontendUser.personalNumber}</div>
	</div>
</div>
<div class="clear-both">
	<f:link.page pageUid="{updateLandlordPID}" class="button orange">
		Ändra mina person- och kontaktuppgifter!!! >>
	</f:link.page>
</div>
<div class="clear-both">
	<f:link.page pageUid="{deleteFeuserPID}" class="link red">
		Avsluta konto!!! >>
	</f:link.page>
</div>
<div class="clear-both"></div>
<hr />

</f:section>
</html>