<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="title">
	<f:translate key="tx_dlrealestate_domain_model_realestate.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="type">
	<f:translate key="tx_dlrealestate_domain_model_realestate.type" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="type" /><br />
<label for="teaser">
	<f:translate key="tx_dlrealestate_domain_model_realestate.teaser" />
</label><br />
	<f:form.textfield property="teaser" /><br />
<label for="description">
	<f:translate key="tx_dlrealestate_domain_model_realestate.description" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="description" /><br />
<label for="images">
	<f:translate key="tx_dlrealestate_domain_model_realestate.images" />
</label><br />
	<span>File upload is not implemented!</span><br /><br />
<label for="longitude">
	<f:translate key="tx_dlrealestate_domain_model_realestate.longitude" />
</label><br />
	<f:form.textfield property="longitude" /><br />
<label for="latitude">
	<f:translate key="tx_dlrealestate_domain_model_realestate.latitude" />
</label><br />
	<f:form.textfield property="latitude" /><br />
<label for="street">
	<f:translate key="tx_dlrealestate_domain_model_realestate.street" />
</label><br />
	<f:form.textfield property="street" /><br />
<label for="postalcode">
	<f:translate key="tx_dlrealestate_domain_model_realestate.postalcode" />
</label><br />
	<f:form.textfield property="postalcode" /><br />
<label for="city">
	<f:translate key="tx_dlrealestate_domain_model_realestate.city" />
</label><br />
	<f:form.textfield property="city" /><br />
</html>