<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-dl-realestate" >
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.title" />
		</td>
		<td>
		{realestate.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.type" />
		</td>
		<td>
		{realestate.type}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.teaser" />
		</td>
		<td>
		{realestate.teaser}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.description" />
		</td>
		<td>
		{realestate.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.images" />
		</td>
		<td>
				<f:for each="{realestate.images}" as="image" >
					<f:image src="{image.originalResource.publicUrl}" width="200"/>
				</f:for>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.longitude" />
		</td>
		<td>
		{realestate.longitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.latitude" />
		</td>
		<td>
		{realestate.latitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.street" />
		</td>
		<td>
		{realestate.street}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.postalcode" />
		</td>
		<td>
		{realestate.postalcode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.city" />
		</td>
		<td>
		{realestate.city}
		</td>
	</tr>
</table>
</html>