<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-dl-realestate" >
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.title" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.type" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.teaser" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.description" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.images" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.longitude" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.latitude" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.street" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.postalcode" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.city" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>