<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<div class="modal-backdrop hideme">
	<div class="backdrop-container">
		<h4 class="backdrop-text">Starta din bankid app</h4>
		<div class="loader"></div>
	</div>
</div>

<div class="frame frame-default frame-type-form_formframework">
	<h5>Logga in med Bankid</h5>
	<f:form 
		action="createUser" 
		controller="MobileBankId" 
		extensionName="dlmobilebankid" 
		pluginName="mobilebankid" 
		pageUid="{registerSuccessPID}" 
		name="reg-form" 
		id="reg-form" 
	>		
		<f:form.hidden name="bi_name" id="bi_name" value="" />
		<f:form.hidden name="tenantGroupuid" id="tenantGroupuid" value="{tenantGroupuid}" />
		<f:form.hidden name="feUserStoragePID" id="feUserStoragePID" value="{feUserStoragePID}" />
		<div class="form-group">
			<label class="control-label" for="email">E-post adress
				<span class="required">*</span>
			</label>
			<div class="input">
				<f:form.textfield 
					data="{action: 'validate-email'}" 
					required="1" 
					type="email" 
					name="emailEl" 
					value="" 
					autofocus="true" 
					placeholder="Du loggar in med din e-post adress" 
					errorClass="'email-error'" 
					class="form-control" 
					id="emailEl"
					tabindex="1"
				>			
				</f:form.textfield>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="pw">Lösenord
				<span class="required">*</span>
			</label>
			<div class="input">
				<f:form.textfield 
					data="{action: 'validate-pw'}" 
					required="1" 
					type="password" 
					name="pw" 
					value="" 
					autofocus="false" 
					placeholder="Minst 8 tecken" 
					errorClass="'pw-error'" 
					class="form-control" 
					id="pw"
					tabindex="2"
				>
				</f:form.textfield>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="pw2">Bekräfta lösenord
				<span class="required">*</span>
			</label>
			<div class="input">
				<f:form.textfield 
					data="{action: 'validate-pw2'}" 
					required="1" 
					type="password" 
					name="pw2" 
					value="" 
					autofocus="false" 
					placeholder="Upprepa lösenord" 
					errorClass="'pw2-error'" 
					class="form-control" 
					id="pw2"
					tabindex="3"
				>
				</f:form.textfield>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="pn">Personnummer
				<span class="required">*</span>
			</label>
			<div class="input">
				<f:form.textfield 
					data="{action: 'validate-pn'}" 
					required="1" 
					type="number" 
					name="pn" 
					value="" 
					autofocus="false" 
					placeholder="ÅÅÅÅMMDDXXXX" 
					errorClass="'pn-error'" 
					class="form-control" 
					id="pn"
					tabindex="4"
				>
				</f:form.textfield>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="fn">Förnamn
				<span class="required">*</span>
			</label>
			<div class="input">
				<f:form.textfield 
					data="{action: 'validate-fn'}" 
					required="1" 
					type="text" 
					name="fn" 
					value="" 
					autofocus="false" 
					placeholder="Skriv in ditt förnamn" 
					errorClass="'fn-error'" 
					class="form-control" 
					id="fn"
					tabindex="5"
				>
				</f:form.textfield>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="ln">Efternamn
				<span class="required">*</span>
			</label>
			<div class="input">
				<f:form.textfield 
					data="{action: 'validate-ln'}" 
					required="1" 
					type="text" 
					name="ln" 
					value="" 
					autofocus="false" 
					placeholder="Skriv in ditt efternamn" 
					errorClass="'ln-error'" 
					class="form-control" 
					id="ln"
					tabindex="6"
				>
				</f:form.textfield>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="sa">Gatuadress 
				<span class="required">*</span>
			</label>
			<div class="input">
				<f:form.textfield 
					data="{action: 'validate-sa'}" 
					required="1" 
					type="text" 
					name="sa" 
					value="" 
					autofocus="false" 
					placeholder="Skriv in din Gatuadress" 
					errorClass="'sa-error'" 
					class="form-control" 
					id="sa"
					tabindex="7"
				>
				</f:form.textfield>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="zip">Postnr 
				<span class="required">*</span>
			</label>
			<div class="input">
				<f:form.textfield 
					data="{action: 'validate-zip'}" 
					required="1" 
					type="number" 
					name="zip" 
					value="" 
					autofocus="false" 
					placeholder="Skriv in ditt Postnr" 
					errorClass="'zip-error'" 
					class="form-control" 
					id="zip"
					tabindex="8"
				>
				</f:form.textfield>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="city">Stad  
				<span class="required">*</span>
			</label>
			<div class="input">
				<f:form.textfield 
					data="{action: 'validate-city'}" 
					required="1" 
					type="text" 
					name="city" 
					value="" 
					autofocus="false" 
					placeholder="Skriv in Stad " 
					errorClass="'city-error'" 
					class="form-control" 
					id="city"
					tabindex="9"
				>
				</f:form.textfield>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="mobile">Telefon  
				<span class="required">*</span>
			</label>
			<div class="input">
				<f:form.textfield 
					data="{action: 'validate-mobile'}" 
					required="1" 
					type="number" 
					name="mobile" 
					value="" 
					autofocus="false" 
					placeholder="Skriv in telefonnummer " 
					errorClass="'mobile-error'" 
					class="form-control" 
					id="mobile"
					tabindex="10"
				>
				</f:form.textfield>
			</div>
		</div>
		<div class="form-group">
			<div class="control-label"></div>			
			<div class="input">
				<f:comment>
				<input type="button" 
					value="Skicka" 
					class="btn btn-success" 
					id="send" 
					tabindex="11" 
				/>
				</f:comment>
				<f:form.submit 
					name="send" 
					value="Skicka" 
					class="btn btn-primary" 
					id="send" 
					tabindex="11" 
				>
				</f:form.submit>				
			</div>
		</div>
		<div style="clear:both;"></div>
	</f:form>
</div>
</f:section>
</html>