<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-dl-realestate" >
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.residential_area" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.rent_from" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.rent_to" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.no_of_rooms" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.rent" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.furnitured" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.handicap_adapted" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.elevator" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.animals_allowed" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.other" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.upload_images1" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.upload_images2" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.upload_images3" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.upload_images4" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.upload_images5" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.description" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.district" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.street_address" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlrealestate_domain_model_realestate.city" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>